<div id="mainDiv">
<div id="leftDiv"><h4 id="desc">"En Old School Studio, fusionamos la tradición del tatuaje con la creatividad moderna. Nuestros artistas expertos te guiarán en el viaje para crear un tatuaje que refleje tu estilo único. Descubre el arte atemporal en nuestro estudio."</h4></div>
<div id="logoDiv"><img id="logo" src="../assets/img/LOGO.jpg" class="img-fluid"></div>
<div id="rightDiv"><button id="cita"  type="button" class="btn btn-primary btn-lg">Reserva tu cita</button></div>
    </div>
